

header {
    background-color: #72b1a4;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot {
    background-color: #72b1a4;
    padding: 15px;
    display: flex;
    justify-content: center;
    color: whitesmoke;
   /* position: absolute; */
    bottom: 0;
    width: 100%;
}

img {
    mix-blend-mode: multiply;
}

#logo {
    width: 300px;
    margin-top: 0px;
}

#botao{
    padding: 5px;
    margin: 10px;
}