body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    line-height: 1.5rem;
    background-color: #539fa2;
    width: 80%;
    margin: 0 auto;
    padding: 2% 0;
    
}


.conteiner{
    display: flex;
    background-color: #72b1a4;
    justify-content: center;
    border-radius: 7px;
    flex-wrap: wrap;
}

.item{
    background-color: #abccb1;
    padding: 0.7rem;
    border-radius: 12px;
    width: 10vh;
    text-align: center;
    margin: 0 3em 0 3em;
    }

    header{
        background-color: #539fa2;
        padding: 0 20px;
        border-radius: 10px;  
    }

    header h1{
        color: #d4e2b6;
        text-align: center;
    }

    nav{
        text-transform: uppercase;
    }


li {
    display: inline-block;
}

a{
    text-decoration: none;
    color: #3811d4;
}

main{
    max-width: 300px;
    margin: auto;
    padding: 2rem;
    background-color: white;
    border: 0.8px solid #aaa;
    box-shadow: 0px 0px 5px rgb(69, 68, 68);
    border-radius: 10px;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
    box-sizing: border-box;
    font-weight: bold;
}

label{
    display: block;
}



select{
    width: 104%;
    padding: 0.2rem;
    /*border: 1px solid #ccc;
    border-radius: 3px;*/
    box-sizing: border-box;
}

input{
    width: 100%;
    padding: 0.2rem;
}

a:link{
    color: rgb(56, 68, 228);
}

a:visited{
    color: rgb(24, 32, 99);
}


h2{
    font-size: 25px;
    text-transform: uppercase;
}

/*section{
    margin-top: 0px;
    padding-bottom: 5px;
    border-top: solid 1px gray;
}*/

input:invalid + span::after{
    content: 'X';
    color: red;
}

input:valid + span::after{
    content: '✓';
    color: green;
}

#botao{
    display: block;
    margin: 10px auto;
    padding: 10px 30px;
    font-weight: bold;
}


/*fieldset:has( div){
    font-weight: bold;
    
}*/

:is(form) :is(fieldset){
    border: none;
    padding: 0;
}