header {
    display: block;
}

body {
    background-color: #539fa2;
    line-height: 1.5;
    color: whitesmoke;
}

main{
    background-color: #72b1a4;
    border-radius: 7px;
    margin: 1rem;
    
}

article table {
    margin-left: auto;
    margin-right: auto;
    
}

#logo {
    width: 300px;
    height: 300px;
    text-align: center;
    mix-blend-mode: multiply;
}

.conteiner{
    display: flex;
    background-color: #72b1a4;
    justify-content: center;
    border-radius: 7px;
    flex-wrap: wrap;
    font-weight: bold;
    margin: 1rem;
}

.item{
    background-color: #abccb1;
    padding: 1rem;
    border-radius: 12px;
    margin-right: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item a {
    text-align: center;
    display: block; 
}

h2,h3{
    text-align: center;
    color: #c4dbb4;
}
h1{
    color: #d4e2b6;
    font-size: 45px;
}

.item_header{
    display: flex;
    justify-content: center;

}


article img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    margin: 10px 20px;
}

footer{
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: large;
}